
@{
    ViewData["Title"] = "Products";
}


@model IEnumerable<Product>
<!-- Basic Tables start -->
<section class="section">
    <div class="row" id="basic-table">
        <div class="col-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Categories</h4>
                    <a class="btn btn-success" asp-area="Manage" asp-controller="Product" asp-action="Create">Add</a>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <!-- Table with outer spacing -->
                        <div class="table-responsive">
                            <table class="table table-lg">
                                <thead>
                                    <tr>
                                        <th>DB Id</th>
                                        <th>Cover Image</th>
                                        <th>Name</th>
                                        <th>Sell Price</th>
                                        <th>Cost Price</th>
                                        <th>Discount</th>
                                        <th>Categories</th>
                                        <th>Description</th>
                                        <th>SKU</th>
                                        <th>Status</th>
                                        <th>Added Date</th>

                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Product pro in Model)
                                    {

                                        <tr>
                                            <td>@pro.Id</td>
                                            <td><img src="~/assets/img/product/@(pro?.ProductImages.FirstOrDefault(pi => pi.IsCover == true).ImgUrl)" width="50"/></td>
                                            <td class="text-bold-500">@pro.Name</td>
                                            <td>@pro.SellPrice</td>
                                            <td>@pro.CostPrice</td>
                                            <td>@pro.Discount</td>
                                            <td>
                                                @foreach (var category in pro?.ProductCategories.Where(pc => pc.ProductId == pro.Id))
                                                {
                                                    <span>@category.Category.Name</span>
                                                }
                                            </td>
                                            <td>@(pro.Desc.Length > 50 ? pro.Desc.Substring(0,49) : pro.Desc)</td>
                                            <td>@pro.SKU</td>
                                            <td>
                                                <label>
                                                    @(pro.IsDeleted ? "Inactive" : "Active")
                                                </label>

                                                <a class="btn btn-warning ms-2" asp-area="Manage" asp-controller="product" asp-action="ChangeStatus" asp-route-id="@pro.Id">Change</a>

                                            </td>
                                            <td>@pro.Date.ToShortDateString()</td>
                                            <td><a class="btn btn-warning" asp-area="Manage" asp-controller="Product" asp-action="Update" asp-route-id="@pro.Id">Update</a></td>
                                            <td><a class="btn btn-danger" asp-area="Manage" asp-controller="Product" asp-action="Delete" asp-route-id="@pro.Id">Delete</a></td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Basic Tables end -->

